<a href="https://colab.research.google.com/github/owlbemi/Patient-Information-DBMS/blob/main/CS4347_Phase_4_Task_C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Setup SQL

In [ ]:
!pip install pymysql
!pip install mysql-connector-python
%load_ext sql
!apt-get -y install mysql-server

Create create.sql

In [ ]:
%sql sqlite:///whateverdatasetweuse.db

# OR

%%sql CREATE DATABASE DBMS.db

In [ ]:
%%sql CREATE TABLE Insurance(
    InsuranceCode int NOT NULL,
    InsuranceName varchar(255),
    PRIMARY KEY (InsuranceCode)
);

In [ ]:
%%sql CREATE TABLE Patient(
    PatientSsn int NOT NULL,
    Sex varchar(255) NOT NULL,
    Name varchar(255) NOT NULL,
    DOB int,
    PhoneNumber int,
    InsuranceCode int NOT NULL,
    AddressId int,
    PRIMARY KEY (PatientSsn),
    FOREIGN KEY (InsuranceCode) REFERENCES Insurance(InsuranceCode)
);

In [ ]:
%%sql CREATE TABLE MedicalHistory(
    ICD int NOT NULL,
    CPT int NOT NULL,
    Date int,
    PRIMARY KEY (ICD)
);

In [ ]:
%%sql CREATE TABLE MedicalHistoryOfPatient(
    ICD int NOT NULL,
    PatientSsn int NOT NULL,
    PRIMARY KEY (ICD, PatientSsn),
    FOREIGN KEY (ICD) REFERENCES MedicalHistory(ICD),
    FOREIGN KEY (PatientSsn) REFERENCES Patient(PatientSsn)
);

In [ ]:
%%sql CREATE TABLE Address(
    AddressId int NOT NULL,
    ZIPCode int,
    Street varchar(255),
    County varchar(255),
    City varchar(255),
    State varchar(255),
    PRIMARY KEY (AddressId)
);

In [ ]:
%%sql CREATE TABLE Doctor(
	EmployeeId int NOT NULL,
	SpecialtyDepartment varchar(255),
	Name varchar(255) NOT NULL,
	AddressId int NOT NULL,
	PhoneNumber int,
	PRIMARY KEY (EmployeeId),
	FOREIGN KEY (AddressId) REFERENCES Address(AddressId)
);

In [ ]:
%%sql CREATE TABLE Treatment(
    PatientSsn int NOT NULL,
    EmployeeId int NOT NULL,
    PRIMARY KEY (PatientSsn, EmployeeId),
    FOREIGN KEY (PatientSsn) REFERENCES Patient(PatientSsn),
    FOREIGN KEY (EmployeeId) REFERENCES Doctor(EmployeeId)
);

In [ ]:
%%sql CREATE TABLE AppointmentSchedule(
	PatientSsn int NOT NULL,
	AppointmentId int NOT NULL,
  PRIMARY KEY (AppointmentId, PatientSsn),
	FOREIGN KEY (PatientSsn) REFERENCES Patient(PatientSsn),
	FOREIGN KEY (AppointmentId) REFERENCES Appointment(AppointmentId)
);

In [ ]:
%%sql CREATE TABLE Appointment(
	AppointmentId int NOT NULL,
	Date int NOT NULL,
	Time int NOT NULL,
	EmployeeID int NOT NULL,
	PRIMARY KEY	(AppointmentId),
	FOREIGN KEY (EmployeeID) REFERENCES Doctor(EmployeeID)
);

Create load.sql

In [ ]:
%%sql

SET foreign_key_checks = 0;

LOAD DATA LOCAL INFILE '/whatever/path/patients.csv'
INTO TABLE Patient
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE '/whatever/path/insurance.csv'
INTO TABLE Insurance
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE '/whatever/path/address.csv'
INTO TABLE Address
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE '/whatever/path/medicalhistoryofpatient.csv'
INTO TABLE MedicalHistoryOfPatient
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE '/whatever/path/appointment.csv'
INTO TABLE Appointment
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE '/whatever/path/appointmentschedule.csv'
INTO TABLE AppointmentSchedule
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE '/whatever/path/treatment.csv'
INTO TABLE Treatment
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE '/whatever/path/doctor.csv'
INTO TABLE Doctor
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE '/whatever/path/medicalhistory.csv'
INTO TABLE MedicalHistory
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

SET foreign_key_checks = 1;